*{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 200vh;
}
body a {
    text-decoration: none; 
    color: black;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .4s;
    padding: 5px 5px; /* Need to be fixed */
    z-index: 1000000;
    font-size: 20px;    
}
header .logo {
    position: relative; 
    /* font-weight: 600;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 23px;
    letter-spacing: 2px;
    transition: .7s;
    padding-right: 300px; Space out banner */
}
header img {
    height: 80px;
    border-radius: 30%;
    transition: .7s;
}
header.sticky {
    position: fixed;
    padding: 5px 100px;
    /* Blue */
    /* background-image: linear-gradient(to right, #EB6B9D, #EE8C68);  */
    /* Purple */
    background-image: linear-gradient(to right, #9E768F, #9FA4C4); 
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
    padding-right: 30px; /* Space out banner link */
}
header ul li:hover a{
    color: #2c9bd7;
}
header ul li a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    transition: .6s;
}
header.sticky .logo img{
    height: 60px;
}
header.sticky ul li:hover a{
    color: #FFEA61;

}
header.sticky ul li a{
    margin-left: 10px;
    color: white;
}
.cover-page {
    width: 100%;
    min-height: 100vh;
}
.line1 h1 {
    display: block;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.to-center {
    width: 100%;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
}
.wrapper ul li{
    text-align: left;
    list-style-type: none;
}
.wrapper body {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
}
.wrapper {
    display: inline-flex;
}
.wrapper .static-text {
    font-weight: 530;
}
.wrapper .dynamic-texts {
    padding-left: 10px;
    line-height: 35px;
    height: 35px;
    overflow: hidden;
}
.dynamic-texts li {
    font-weight: 530;
    color: #FC6D6D;
    position: relative;
    top: 0%;
    bottom: 0%;
    animation: slide 6s steps(4) infinite;
}
@keyframes slide {
    100% {
        top: -140px;
    }
}
.dynamic-texts li span {
    position: relative;
}
.dynamic-texts li span::after {
    content: "";
    position: absolute;
    left: 0%;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    border-left: 2px solid #FC6D6D; 
    animation: typing 1.5s steps(22) infinite;
}
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -20px 0 25px;
    }
}
.scroll {
    padding-top: 600px;
    font-size: 18px;
    font-weight: 200px;
    text-align: center;
}
.aboutme {
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.aboutme h1 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}
.aboutme-about{
    width: 100%;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9cm;
}
.sub {
    color: #ac58e7;
    padding: 25px;
    font-size: 17px;
    font-weight: 400;
} 
.profile-pic {
    display: block;
    text-align: center;
    padding: 70px 0 20px;
}
.profile-pic img {
    height: 170px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(57, 57, 57, 0.5);
    transition: .3s;
    
}
.profile-pic img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    filter: contrast(4);
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: 0.5s ease;


}
.content {
    display: block;
    justify-content: center;
    align-self: center;
}
.aboutme h2 {
    padding: 30px;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.container {
    position: relative;
    padding: 30px 15px 15px 15px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    text-align: center;
    grid-auto-flow: dense;
    grid-gap: 15px;
}
.content img{
    max-height: 15vh;

}
.container.box {
    padding: 15px;
    display: grid;
    font-size: 20px;
    place-items: center;
}
.content p {
    padding-right: 6px;
    padding-left: 6px;
    line-height: .7cm;
    transition: .1s;
}
.box:hover {
    background: #8EC9BB;
    color: white;
}
.box:hover p{
    padding: 5px;
}
/* Set color of each box */
.design:hover .box{
    background: #7d94b5;
}
.photo:hover .box{
    background: #7fb352;
}
.code:hover .box{
    background: #7F5A83;
}
.scholarship:hover .box{
    background: #8b8e92;
}
/* "Robert Westerbeck Reviewer's choice, Angels Wings Thai Scholarship, PCC President’s Asian American and Pacific Islander Advisory Committee (PAPPI) Scholarship, Academic Scholarship of KMITL’s Chancellor" */
.club:hover .box{
    background: #FA6E4F;
}
.hackathon:hover .box{
    background: #946c64;
}
.box:hover .content img{
    background: #ffffff;
    border-radius: 50%;
}
.box:hover .content {
    font-size: 1.1em;
}
::selection {
    background: white;
    color: #7d94b5;
}
.box {
    background: #f2eeee; /* BG color */
    transition: .3s;
    padding-bottom: 20px;
    padding: 15px 0 20px;
}

/* Expand the box
.box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}
 */
